.vscode
.DS_Store
*.out
*.o
*.s
*.d
*.errors
*.output
*.result
*.bin
*.dsk
threads/build/Makefile
.vscode/sftp.json
activate
utils/pintos-mkdisk
utils/pintos
utils/backtrace
tests/make-grade
userprog/build